/*  Universal Set-Up

color:#2ed42e;
*/
*{
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*..................................................
					our body
.................................................... */
body{
	background-color: #fff;
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	background-attachment: fixed;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(images/8b7a84cda2def0a2864be01cf3c86dbe.jpg);
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/8b7a84cda2def0a2864be01cf3c86dbe.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
html {
  scroll-behavior: smooth;
}

/* ......................................................
					For all section 
...................................................... */
.mainsection-1{
	margin-bottom: 30px;
	color: #ffffff;
}
.maindiv-1{
	max-height: 1140px;
	max-width: 1140px;
	text-align: center;
	font-size: 23px;
	color: #2ed42e;
	margin: 0 auto;
}
.maindiv-1::after{
	content: ' ';
	width:20px;
	border: 1px solid #2ed42e;
	display: block;
	margin:0 auto;
	margin-top: 10px;
}
.section-two-class-1,.section-two-class-2,.section-two-class-3,.section-two-class-4,.div-span{
	text-align: center;
	
}
.section-two-class-span-1,.section-two-class-span-2,.Select-one,.last-one-span{
	font-size: 12.6px;
	color: red;
}
.div-span{
	margin-top:3px
}
#section-maintain-2{
	margin-top: 5px;
}
.one{
	display: inline-block;
}
#b{
	margin-left: 11px;
}
.section-two-class-4{
	margin-top: 40px;
	font-size: 25px;
}
.section-two-class-4::after{
	content: ' ';
	width:20px;
	border: 1px solid #2ed42e;
	display: block;
	margin:0 auto;
	margin-top: 10px;
}
#button-cls{
	margin-left: 7px;
    vertical-align:sub;
}
#success-id,#warn-id{
	margin: 0 auto;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#warn-id{
	color: red;
	width: 60%;
	margin-bottom: 120px;
	position: absolute;
	left: 20%;
	margin: 50px auto;
}
#empty{
	position: relative;
	height: 275px;
	width: 100%;
}
#info-id,#info-id-a,#success-id,.alert-info{
	text-align: center;
	margin: 1% auto;
	width: 70%;
}
#info-id-a{
    width: 799%;
}
#age_current{
	font-size: 14px;
}

#Upcomming_Birthday,#age_current{
	color: green;
}
.heart{
	font-size: 10px;
	color: #e00;
	-webkit-animation: beat .30s infinite alternate;
	animation: beat .30s infinite alternate;
	-webkit-transform-origin: center;
	transform-origin: center;
	margin: 30px 0px;
}
@-webkit-keyframes beat{
	to { -webkit-transform: scale(1.4); transform: scale(1.4); }
}
@keyframes beat{
	to { -webkit-transform: scale(1.4); transform: scale(1.4); }
}
footer
{
	
	color: white;
	height: 60px;
	width: 100%;
	background-color: rgba(3, 3, 3, 0.2);
	
	
}
.footer-div{
	height: 0px;
	width: 100%;
	padding-top: 19px;
	padding-right: 19px;
	text-align: right;
}

#info-id-b{
	margin-top: 22px;
}
#bbo{
	margin-left: 6px;
}
/* Hover effect */
#input-id,#o-1,#m-point,#o-2,#bbo:hover{
	cursor: pointer;
}
/* media */
@media only screen and (min-width: 600px) {
    .maindiv-1,.result-span{
        font-size: 46px;
    }
    .maindiv-1::after{
	   width:40px;
}
    .section-two-class-4::after{
        width:40px;
    }
    
    .section-two-class-1{
        font-size: 30px;
    }
    .section-two-class-span-1,.section-two-class-span-2,.Select-one,.last-one-span{
        font-size: 25px;
    }
    .section-two-input-class-2,#button-cls,.section-two-class-3{
        font-size: 35px;
    }
    #o-1,#o-2{
         zoom:2;
    }
    #bbo{
	margin-left: 11px;
}
    #id_warn{
        zoom:3;
    }
    #success-id,#info-id{
        zoom:2;
    }
    
       
    
    #empty{
        height: 680px;
	    width: 100%;
    }
    
    
    
    
}
